@using GameZone.News.WebApp.Models.DTO.Response;
@model List<CreateNewsDTO>

@{
    var localExecution = ViewBag.LocalExecution as bool?;
}


<h1 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);">Bem-vindo ao Blog de notícias de Games Tech Challenge!</h1>

<form class="m-t" role="form" asp-route-returnurl="@ViewData["ReturnUrl"]" method="get">
    @foreach (var newsItem in Model)
    {
        <div>
            <br />
            <p class="chapeu">@newsItem.Chapeu</p>
            <h2 class="titulo">@newsItem.Titulo</h2>
            @if (localExecution.HasValue && localExecution.Value)
            {
                <img src="data:image/png;base64,@newsItem.Database64Content" alt="@newsItem.Titulo" class="card-img-top  image-noticia-id" />
            }
            else
            {
                <img src="@newsItem.UrlImagem" class="card-img-top  image-noticia-id" alt="@newsItem.Titulo">
            }
            <p>@newsItem.DataPublicacao.ToString("dd/MM/yyyy hh:mm")</p>
            <p>@TruncateString(newsItem.Descricao, 100)<a asp-action="GetById" asp-controller="News" asp-route-id="@newsItem.Id">  Leia mais</a></p>
            <br />
        </div>
    }
</form>
@functions {
    public string TruncateString(string input, int maxLength)
    {
        if (input.Length <= maxLength)
        {
            return input;
        }
        else
        {
            return input.Substring(0, maxLength) + "...";
        }
    }
}